*{
    margin: 0;
    padding: 0;
}
body{
    background-image:url("imagenes/Título.png");
}
header{
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1;
    background-color: rgb(111, 166,255);
}
header h1{
    background-color: rgb(111, 166,255);
    padding: 1%;
}
header nav{
    background-color: rgb(19, 7, 3);
    overflow: hidden;
    font-size: medium;
    float: none;
}
header nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
header nav ul li{
    float: left;
}
header nav ul li a{
    padding: 10px 20px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 2vw;
}
header nav ul li a:hover{
    background-color: rgb(127, 127, 127);
    cursor: url("imagenes/Iconos/1.png"),auto;
}
#Libros{
    background-color: rgb(124, 233, 255);
    padding: 1%;
    font-size: xx-large;
    margin: 5%;
    border-radius: 15px;
}
h2{
    width: 60%;
    margin-bottom: 30%;
    position: relative;
    right: -5px;
    background-color: #000000;
    color: #fff;
    border-radius: 15px;
    font-family: "Libre Baskerville", serif;
}
/*Se usa el msimo tipo de letra tanto para los títulos como para los párrafos en todas las páginas*/
h3{
    width: 35%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    background-color: rgb(124, 233, 255);
}
/*Se usa esto para corregir errores de cajas*/
div p{
    float: right;
    position: relative;
    left: -5px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
}
h2,h3, div p{
    padding: 2%;
    margin: 2%;
}
img{
    width: 20%;
    position: relative;
    margin-left: 30%;
    float: right;
}
div{
    margin: 5%;
    padding: 5%;
}
h2,img{
    
    display:flex;
    gap: 20px;
}
footer{
    float: inline-end;
    text-align: center;
    width: 100%;
    background-color: rgb(0,0,0);
    color: rgb(255, 255, 255);
}
#aviso_legal{
    overflow: hidden;
    color: aquamarine;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.final{
    width: 98%;
}
.final nav{
    padding: 1%;
}
.final nav ul{
    background-color: black;
    display: flex;
    justify-content: center;
}
.final nav ul li{
    text-decoration: none;
    list-style: none;
    background-color: black;
    width: 15%;
}
.final nav ul li a{
    color: #fff;
    padding: 10px 20px;
    font-size: 1.75vw;
    color: white;
    text-decoration: none;
}
.final nav ul li a:hover{
    background-color: rgb(127, 127, 127);
    cursor: url("imagenes/Iconos/1.png"),auto;
}
